.panel.service-config-panel.panel-success#service-config-adder
  .panel-body
    .colorize.text-success
      %center
        .fa.fa-plus-square.fa-4x.service-config-icon
      %center
        Add Service
