- ([:adder] + @defined_services).each_slice(3) do |srvs|
  .row
    - srvs.each do |srv|
      .col-md-4
        - if srv == :adder
          = render :partial => 'service_config_adder'
        - else
          = render :partial => 'service_config_item', :locals => {:srv => srv, :config_data => config_data || Smash.new}
