<% content_for(:service_config_preview_title) do -%>
Service Config: <%= @service.name.humanize %>
<div class="preview-edit-control pull-right" style="padding-right: 5px;" data-service-id="<%= @service.id %>">
 <%= link_to yield(:edit_icon), '#' %>
</div>
<div class="clearfix"></div>
<% end %>

<%=
  create_window(
    :name => 'service_preview',
    :title => yield(:service_config_preview_title),
    :size => 'large',
    :content => render(
      :partial => 'service_preview',
      :locals => {
        :service => @service,
        :config => @config
      }
    )
  )
%>
