- rule_ident = SecureRandom.uuid
- rule = @rule unless rule
- value = @value unless value

- content_for(:trashcan) do
  %span.glyphicon.glyphicon-trash

- trash_can = yield(:trashcan)

%tr{:class => "#{rule_type}-rule", :id => rule_ident, :rule_id => rule.id, :rule_value => value}
  %td
    %b= rule.name
  %td= value
  %td= link_to(trash_can, send(removal_link_method, :rule_ident => rule_ident), :remote => true, :method => :delete, :class => 'btn btn-danger btn-xs')
