:ruby
  id = 'edit-custom-service'
  content_for(:container) do
    render(
      :partial => 'layouts/panel',
      :locals => {
        :id => id,
        :heading => "Edit Custom Service - #{@service.name}",
        :panel_content => render(
          :partial => 'form',
          :locals => {
            :form_opts => {
              :url => custom_service_path(@service.id),
              :method => :put
            }
          }
        )
      }
    )
  end

= render(:partial => 'layouts/container', :locals => {:container_class => "#{id}-form", :container_id => id})
