:ruby
  id = 'new-custom-service'
  content_for(:container) do
    render(
      :partial => 'layouts/panel',
      :locals => {
        :id => id,
        :heading => 'New Custom Service',
        :panel_content => render(
          :partial => 'form',
          :locals => {
            :form_opts => {
              :url => custom_services_path,
              :method => :post
            }
          }
        )
      }
    )
  end

= render(:partial => 'layouts/container', :locals => {:container_class => "#{id}-form", :container_id => id})
