:ruby
  id = 'account-config'
  content_for(:container) do
    render(
      :partial => 'layouts/panel',
      :locals => {
        :id => id,
        :heading => "Service configurations (#{@service.name})",
        :panel_content => render(
          :partial => 'layouts/table',
          :locals => {
            :header_data => ['Service configuration items'],
            :table_id => 'service-config-items',
            :data => @configs.map{|config|
              [link_to(config.name, edit_admin_service_config_path(@service.id, config.id))]
            }
          }
        )
      }
    )
  end

= render(:partial => 'layouts/container', :locals => {:container_class => "#{id}-list", :container_id => id})

:javascript
  $('tbody').sortable({
    update: function(event, ui){
      items = $.map($('tbody a'), function(item){
        return $(item).text();
      });
      $.post('#{sort_admin_service_configs_path(@service)}',
        {item_order: items},
        function(){ sparkle_ui.display.highlight('service-config-items'); }
      );
    }
  });
